@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=IM+Fell+Great+Primer+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a:active {
    text-decoration: none;
    color: rgb(51, 77, 5);
}

/*-----header------------*/
.df-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(207, 195, 164);
    background: linear-gradient(90deg, rgba(207, 195, 164, 1) 5%, rgba(219, 208, 182, 1) 31%, rgba(107, 131, 102, 0.7083333333333333) 57%, rgba(5, 131, 79, 0.45) 91%);
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(11, 68, 11);
}

.img {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    padding: 5px 5px 5px 5px;
    color: rgb(11,68,11);
}

.logo p {
    margin: 10px;
}

.df-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: rgb(11, 68, 11);
}

.df-ul li a {
    margin: 5px;
    margin-right: 20px;
    font-family: 'Alegreya SC', serif;
    font-size: 18px;
    color: rgb(11, 68, 11);
    text-decoration: none;
}

.titulo {
    color: rgba(1, 35, 24, 0.274);
    font-family: 'Alegreya SC', serif;
}

/*-------------fin header--------------*/

/*-------------main index--------------------*/
.min-height {
    min-height: 81vh;
    background-image: url(./img/fotoindex.jpeg);
    width: 100%;
    height: 100%;
}

.texto-1 {
    font-family: 'Alegreya SC', serif;
    font-family: 'IM Fell Great Primer SC', serif;
    color: rgba(1, 41, 30, 0.686);
    justify-content: center;
    font-size: 66px;
    position: absolute;
    top: 100px;
    left: 30px;

}

/*-------------fin main index--------------*/
/*-------------main the barn-----------------*/

.card-thebarn {
    background-color: rgba(188, 168, 144, 0.52);
    display: flex;
    flex-direction: column;
}

.titulo-p {
    display: flex;
}

.titulo {
    margin-block: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: center;

}

.text-thebarn {
    margin-block: 70px;
    display: flex;
    justify-content: center;


}

.text-thebarn p {
    display: flex;
    margin: 30px;
    font-size: 20px;
    color: rgba(15, 50, 15, 0.746);
    font-family: 'Alegreya SC', serif;

}

.imagen-thebarn {
    margin-block: 70px;
    margin-right: 20px;
    margin-block-end: 70px;
    display: flex;
    justify-content: space-between;
    height: 500px;

}



/*-------------fin main the barn-----------*/

/*-----------------main servicios----------*/
.min-height3 {
    background-color: rgba(188, 168, 144, 0.52);
    width: 1448px;
    height: 660px;
    display: flex;

}

.texto-serv {
    font-size: 35px;
    margin-top: 40px;
    color: rgba(15, 50, 15, 0.222);
    font-family: 'IM Fell Great Primer SC', serif;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 40px;

}

.servicios1 li {

    margin-left: 60px;
    margin-top: 20px;
    width: 300px;
    font-size: 30px;
    font-family: 'IM Fell Great Primer SC', serif;
    list-style: circle;
    color: rgba(1, 41, 30, 0.686);

}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 130px;
    padding: 20px;
    grid-gap: 10px;
    margin-right: 60px;
    margin-top: 50px;

}

.containertext:nth-child(1) {
    grid-row-start: span 2;
}

.containertext:nth-child(3) {
    grid-column-start: span 2;

}

.containertext:nth-child(4) {
    grid-column-start: span 2;

}

.formimg {
    width: 350px;
    height: 500px;

}

/*-------------fin main servicios---------------*/

/*-----------------main galeria-----------------*/
.main-galeria {
    background-color: rgba(188, 168, 144, 0.52);
    width: 1448px;
    height: 800px;
}

.galery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 5px;
    grid-gap: 10px;
}

.galery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galery--item:nth-child(2) {
    grid-row-start: span 2;

}

.galery--item:nth-child(1) {
    grid-row-start: span 2;

}

.galery--item:nth-child(6) {
    grid-row-start: span 2;

}

.galery--item:nth-child(3) {
    grid-row-start: span 2;

}

.galery--item:nth-child(4) {
    grid-column-start: span 2;

}

.galery--item:nth-child(5) {
    grid-row-start: span 3;

}

.galery--item:nth-child(7) {
    grid-row-start: span 2;

}

/*-----------------fin de main galeria-------------*/
/*----------------- main eventos-------------*/

.card-evento {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.eventos1 {
    margin-left: 60px;
    margin-top: 50px;
    width: 300px;
    font-size: 20px;
    font-family: 'IM Fell Great Primer SC', serif;
    list-style: none;
    color: rgba(1, 41, 30, 0.686);
    background-color: rgba(27, 139, 109, 0.686);
    border-radius: 10px;

}

.texto-evento {
    font-size: 35px;
    margin-top: 40px;
    color: rgba(15, 50, 15, 0.222);
    font-family: 'IM Fell Great Primer SC', serif;
    margin-left: 40px;
}

.videoeventos {

    display: flex;
    padding: 50px;

}

.min-height4 {
    background-color: rgba(188, 168, 144, 0.52);
    display: flex;
    width: 1448px;
    height: 660px;
}


/*-----------------fin main eventos-------------*/
/*-------------main contacto----------------------*/
.mapa {
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-left: 40px;

}

.cc-container {
    background-color: rgba(188, 168, 144, 0.52);
    width: 1448px;
    height: 660px;

}

.cc-center {
    color: rgb(12, 82, 12);
    font-family: 'Alegreya SC', serif;
    font-size: 26px;
    text-align: center;


}

.cc-centertext {
    color: rgb(12, 82, 12);
    font-family: 'Alegreya SC', serif;
    font-size: 30px;
    text-align: center;

}



.formulario-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    padding: 20px;
    grid-gap: 20px;

}

.form input {
    color: darkgray;
    width: 300px;
    display: inline;
    margin-top: 15px;
    background-color: rgba(214, 203, 188, 0.52);
    border-style: none none solid none;
    font-size: 15px;
    font-family: 'Alegreya SC', serif;
    padding: 10px 0;
    outline: none;
    text-align: center;

}

.button:hover {
    background-color: rgb(89, 159, 122);
    color: rgb(22, 66, 22);
    border: none;

}

.button {
    color: darkgray;
    border: solid rgb(105, 127, 105);
    font-size: 15px;
    font-family: 'Alegreya SC', serif;
    text-transform: uppercase;
    padding: 1px 6px;
    border-radius: 5px;
    background: rgba(214, 203, 188, 0.52);

}

.form input:nth-child(2) {
    grid-column-start: span 2;

}

.textarea {
    color: darkgray;
    width: 600px;
    display: inline;
    margin-top: 15px;
    background-color: rgba(214, 203, 188, 0.52);
    border-style: none none solid none;
    font-size: 15px;
    font-family: 'Alegreya SC', serif;
    padding: 5px;
    outline: none;
    text-align: center;
}

.form input:nth-child(1) {
    grid-column-start: span 1;

}

.form input:nth-child(3) {
    grid-column-start: span 2;

}

.form input:nth-child(2) {
    grid-column-start: span 1;

}

.text {
    font-size: 38px;
    font-family: 'Alegreya SC', serif;
    color: rgb(3, 63, 3);
    text-align: center;
}

.center {
    position: relative;
    margin-left: 650px;
    margin-top: 250px;



}

.datos {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-auto-rows: 100px;
    padding: 5px;
    grid-gap: 5px;
    margin: 290px;

}

.datos1:nth-child(4) {
    grid-column-start: 4;
}

/*-------------FIN DE MAIN CONTACTO--------------------*/

/*-------------FOOTER------------------*/
.bg-footer {
    background: rgb(207, 195, 164);
    background: linear-gradient(270deg, rgba(207, 195, 164, 1) 5%, rgba(219, 208, 182, 1) 31%, rgba(107, 131, 102, 0.7083333333333333) 57%, rgba(5, 131, 79, 0.45) 91%);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.type {
    font-family: 'Alegreya SC', serif;
    color: rgb(11, 68, 11);
    display: inline-block;
    justify-content: center;
    font-size: 18px;
    font-weight: lighter;

}

.redes a i {
    color:rgb(11, 79, 11);
    font-size: 28px;
    text-align: center;
    padding: 5px 5px;
    margin-left: 5px;

}

.redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
    color: rgb(3, 63, 3);


}

/*-------------FIN DE FOOTER------------*/